.home-container {
    width: 1000px;
}
.home-banner-container {
    position: relative;
    display: flex;
    padding-top: 3rem;
}
.home-bannerImage-container {
    position: absolute;
    top: -185px;
    right: -600px;
    z-index: -2;
    max-width: 700px;
}
.home-image-section {
    max-width: 600px;
    flex: 1;
    position: absolute;
    right: -410px;
    top: 80px;
}
.home-text-section {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    position: absolute;
    top: 150px;
    left: 150px;
}

.home-text-section h1 {
    font-size: clamp(5rem, 5vw, 4rem);
    color: #4c4c4c;
    max-width: 600px;
    font-family: "Comfortaa", cursive;
}
.home-text-section p {
    font-family: "Montserrat", sans-serif;
    font-size: 1.2rem;
    margin-top: 45px;
    opacity: 0.6;
    line-height: 30px;
    width: 500px;
}
.home-text-section a {
    text-decoration: none;
}
.intro-btn {
    background-color: #fe9e0d;
    color: white;
    border: 1px solid #fe9e0d;
    padding: 16px 12px;
    border-radius: 18px;
    margin-top: 55px;
    width: 230px;
    font-family: "Comfortaa", cursive;
    font-size: 1.3rem;
    cursor: pointer;
    text-align: center;
}
.intro-btn:hover {
    background-color: white;
    color: #fe9e0d;
}
