.login-container {
    background-image: url(../assets/paw-bg.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100vh;
}
.login-content {
    margin: 25px 184px;
    height: 130vh;
    width: 1060px;
    display: flex;
    gap: 290px;
}

.login-intro {
    display: flex;
    flex-direction: column;
    gap: 30px;
}
.login-intro h1 {
    font-family: "Comfortaa", cursive;
    font-size: 3rem;
    text-align: center;
    color: #4c4c4c;
    font-weight: 700;
    margin-top: 235px;
    text-align: start;
}
.login-intro h5,
p {
    color: #4c4c4c;
    font-family: "Montserrat", sans-serif;
}

.login-intro h5 {
    font-size: 1.3rem;
}
.login-intro p {
    font-size: 1.3rem;
}
.login-content form {
    display: flex;
    flex-direction: column;
    gap: 12px;
    margin: 225px auto;
}
.input-box {
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.input-box input {
    width: 395px;
    padding: 23px 0px;
    height: 45px;
    border: none;
    outline: none;
    border-radius: 11px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    font-size: 16px;
}
label {
    font-family: "Montserrat", sans-serif;
    color: #4c4c4c;
}
.login-btn {
    width: 395px;
    padding: 16px 0px;
    height: 45px;
    border: none;
    outline: none;
    border-radius: 11px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    font-size: 20px;
    background: #fe9e0d;
    color: white;
    font-family: "Comfortaa", cursive;
    text-align: center;
    margin-top: 15px;
}
.login-btn:hover {
    background: #fff89a;
    color: #4c4c4c;
}
