.new-article {
    display: flex;
    flex-direction: column;
    background: white;
    margin: auto;
    height: 70vh;
    width: 1200px;
    border: grey;
    border-radius: 13px;
}
.new-article h1 {
    font-family: "Comfortaa", cursive;
    font-size: 3rem;
    text-align: center;
    color: #4c4c4c;
    font-weight: 700;
    line-height: 240px;
}
.new-article input {
    padding: 10px 23px;
    border: none;
}
.new-article textarea {
    padding: 10px 23px;
    border: none;
    line-height: 0px;
}
.new-article form {
    margin: 0 auto;
    border: thick double #fe9e0d;
}
.new-article-btn {
    padding: 15px 23px;
    background-color: #fe9e0d;
    color: white;
    font-family: "Comfortaa", cursive;
    font-size: 1rem;
    border: none;
}
::placeholder {
    font-family: "Montserrat", sans-serif;
    font-size: 1rem;
}
