.new-comment {
    display: flex;
    flex-direction: column;
    background: white;
    margin: 25px 184px;
    height: 130vh;
    width: 1200px;
    border: grey;
}
.new-comment h1 {
    font-family: "Comfortaa", cursive;
    font-size: 3rem;
    text-align: center;
    color: #4c4c4c;
    font-weight: 700;
    line-height: 240px;
}
.new-comment input {
    padding: 10px 23px;
    border: none;
}
/*.new-comment textarea {
    padding: 10px 23px;
    border: none;
    line-height: 0px;
}*/
.new-comment form {
    margin: 0 auto;
    border: thick double #fe9e0d;
}
.comment-btn {
    padding: 15px 23px;
    background-color: #fe9e0d;
    color: white;
    font-family: "Comfortaa", cursive;
    font-size: 1rem;
    border: none;
    width: 130px;
}
::placeholder {
    font-family: "Montserrat", sans-serif;
    font-size: 1rem;
}
