nav {
    margin: 20px;
    display: flex;
    gap: 353px;
}
ul {
    display: flex;
    justify-content: center;
    list-style-type: none;
    float: right;
    padding: 10px;
}
li {
    margin: 12px 40px;
}
li a {
    color: #4c4c4c;
    font-size: 1.8rem;
    font-family: var(--heading-font-family);
    text-decoration: none;
}
li a:hover {
    color: var(--secondary-color);
}
.signup,
.login {
    padding: 0.8rem 1.7rem;
    background-color: white;
    outline: none;
    border: none;
    border-radius: 5rem;
    font-size: 1.8rem;
    cursor: pointer;
    font-weight: 600;
    transition: 0.2s;
}
.signup:hover {
    background-color: rgb(234, 234, 234);
}
.login:hover {
    background-color: rgb(234, 234, 234);
}
.logo img {
    width: 140px;
    margin: 0px 52px;
}
.nav-profile {
    background-color: white;
    padding: 0.8rem 1.7rem;
    outline: none;
    border: none;
    border-radius: 5rem;
}
