* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary-color: #f0dfc8;
    --secondary-color: #e16539;
    --styling-color: #fff89a;
    --heading-font-family: "Comfortaa", cursive;
    --default-font-family: "Montserrat", sans-serif;
}

body {
    max-width: 100%;
    overflow-x: hidden;
    background: #f6f6f6;
}
.App {
    min-height: 100vh;
}
